<form class="search-form" (ngSubmit)="find()">
  <input
    type="text"
    placeholder="Search for a Pokémon..."
    [ngModel]="searchTerm()"
    (ngModelChange)="searchTerm.set($event)"
    name="searchTerm"
  />
  <button type="submit">Suchen</button>
</form>

<signals-rating />

<ng-container *ngIf="pokemon() as pokemon">
  <div>
    <h2>{{ pokemon.name | titlecase }}</h2>
    <img [src]="pokemon.sprites.front_default" alt="Pokemon image" />
  </div>
  <button (click)="rate(pokemon.name, true)">Like</button>
  <button (click)="rate(pokemon.name, false)">Dislike</button>

  <pre>{{ pokemon | json }}</pre>
</ng-container>
